<div class="cart">
    <div class="cart-header">
        <span class="header-item">Product Name</span>
        <span class="header-item">Price</span>
        <span class="header-item">Quantity</span>
        <span class="header-item">Action</span>
    </div>
    <div class="cart-total">Total Price: {{ totalPrice | currency }}</div>
    <ul class="cart-list">
        @for (item of cartItems; track $index) {
        <li class="cart-item">
            <span class="item-name">{{ item.ProductName }}</span>
            <span class="item-price">{{ item.ProductPrice | currency }}</span>
            <input type="number" min="0" (click)="changeQuantity(quantity,item.ProductId)" [(ngModel)]="item.Quantity"
                class="quantity-control" #quantity>
            <button class="delete-button" (click)="removeItem(item.ProductId)">
                Delete
            </button>
        </li>
        }
    </ul>
</div>